.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header-small {
  background-color: #c892f7;
  display: flex;
  min-height: 5vh;
}

.header {
  background-color: #c892f7;
  display: flex;
  min-height: 8vh;
}

.App-header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  display:flex;
  flex-direction:row;
  height: 150px;
  width: 150px;
  border-radius: 15px;
  background: #1f7188;
  color: #282c34;
}

.card-small {
  display:flex;
  flex-direction:column;
  height: 150px;
  width: 90%;
  border: 2px solid #fff;
  border-radius: 15px;
  background: #3390aa;
  color: #282c34;
  margin: 5vh auto;
}

.card-small:last-child {
  margin-bottom: 25px !important;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.dialog-comp {
  background: #e6c2f7;
}

.activityScoreListCard {
  width: 500px;
  height: 35px;
  box-shadow: inset 0px -1px 4px #c2c7d1;
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  align-items: center;
}

main {
  background: linear-gradient(360deg, rgba(9,9,121,1) 0%, rgba(154,35,218,1) 100%);

}